@page
@model EmployeeManagement.Web.Pages.Employee.IndexModel
@{
    ViewData["Title"] = "Index";
}
<h1>Employee List</h1>
<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <span class="input-group-btn">
                <button class="btn btn-default">
                    Search
                </button>
            </span>
        </div>
    </div>
</form>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Emp Name</th>
            <th scope="col">Doj</th>
            <th scope="col">Salary</th>
            <th scope="col">Email</th>
            <th scope="col">Department Name</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var emp in Model.EmpList)
        {
        <tr>
            <th scope="row">@emp.Id</th>
            <td>@emp.EmpName</td>
            <td>@emp.DOJ</td>
            <td>@emp.Salary</td>
            <td>@emp.Email</td>
            <td>@emp.Department.DepartmentName</td>
            <td>
                <a class="btn"
                   asp-page="./Details"
                   asp-route-empId="@emp.Id">
                    Details
                </a>
                <a class="btn"
                   asp-page="./Edit"
                   asp-route-empId="@emp.Id">
                    Edit
                </a>
                <a class="btn"
                   asp-page="./Delete"
                   asp-route-empId="@emp.Id">
                    Delete
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>